# ===== Tickets Bot =====
TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
CLIENT_ID=YOUR_CLIENT_ID_HERE
GUILD_ID=YOUR_GUILD_ID_HERE
MONGO_URI=mongodb+srv://username:password@hostname/angels_tickets?appName=angelsbot
EMBED_COLOR=0x2f3136
EMBED_ACCENT=0x5865F2
TICKETS_CATEGORY_ID=YOUR_CATEGORY_ID_HERE
TICKETS_LOG_CHANNEL_ID=YOUR_LOG_CHANNEL_ID_HERE

# ===== Main Bot =====
MAIN_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
MAIN_CLIENT_ID=YOUR_CLIENT_ID_HERE
MAIN_GUILD_ID=YOUR_GUILD_ID_HERE
MAIN_MONGO_URI=mongodb+srv://username:password@hostname/angels_main?appName=angelsbot
MAIN_EMBED_COLOR=0x2f3136
MAIN_EMBED_ACCENT=0x5865F2
MAIN_TIMELY_AMOUNT=50
MAIN_TIMELY_COOLDOWN=43200000
MAIN_STAR_TO_COIN_RATE=100
MAIN_XP_COOLDOWN=60000
MAIN_XP_MIN=5
MAIN_XP_MAX=10

# ===== Moderator Bot =====
MOD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
MOD_CLIENT_ID=YOUR_CLIENT_ID_HERE
MOD_GUILD_ID=YOUR_GUILD_ID_HERE
MOD_MONGO_URI=mongodb+srv://username:password@hostname/angels_moderator?appName=angelsbot
MOD_EMBED_COLOR=0x2f3136
MOD_EMBED_ACCENT=0x5865F2
MOD_STAFF_ROLE_ID=YOUR_STAFF_ROLE_ID_HERE
MOD_ADMIN_PANEL_CHANNEL_ID=YOUR_CHANNEL_ID_HERE
MOD_REPORT_CHANNEL_ID=YOUR_CHANNEL_ID_HERE
MOD_BLACKLIST_LOG_CHANNEL_ID=YOUR_CHANNEL_ID_HERE

# ===== Cases Bot =====
CASES_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
CASES_CLIENT_ID=YOUR_CLIENT_ID_HERE
CASES_GUILD_ID=YOUR_GUILD_ID_HERE
CASES_MONGO_URI=mongodb+srv://username:password@hostname/angels_main?appName=angelsbot
CASES_EMBED_COLOR=0x2f3136
CASES_EMBED_ACCENT=0x5865F2
