TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
CLIENT_ID=YOUR_CLIENT_ID_HERE
GUILD_ID=YOUR_GUILD_ID_HERE
MONGO_URI=mongodb+srv://username:password@hostname/dbname?appName=appname
EMBED_COLOR=0x2f3136
EMBED_ACCENT=0x5865F2
TIMELY_AMOUNT=50
TIMELY_COOLDOWN=43200000
STAR_TO_COIN_RATE=100
XP_COOLDOWN=60000
XP_MIN=5
XP_MAX=10
